* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #d6d6d6;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
}

header {
  position: relative;
  margin-bottom: 11rem;
}

.header-repeat {
  position: absolute;
  background-image: url(./background.jpg);
  width: 100vw;
  height: 11vh;
}

.logo {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translate(-50%);
  width: 8rem;
  height: auto;
}

/* ///// article start */

.card__container {
  display: flex;
  width: 40vw;
  background-color: white;
  flex-wrap: wrap;
  margin-left: 3rem;
  padding: 1rem;
}

.card__container span {
  color: red;
}

.card__container h2 {
  font-family: monospace;
  font-size: 1rem;
  align-self: start;
  margin: 1rem 0 1rem 0;
}

.card__container img {
  width: 100%;
  margin: auto;
  height: auto;
  margin-bottom: 1.5rem;
  object-fit: cover;
}

.card__bottom {
  margin-top: 1rem;
}

.hr__dashed {
  border: none;
  border-top: 1px dotted rgb(0, 0, 0, 0.5);
  margin-bottom: 0.3rem;
}

.card__bottom p {
  font-size: 0.8rem;
  margin-bottom: 0.3rem;
}

/* aside {
  width: 150px;
  background-color: red;
  position: absolute;
  top: 0;
  right: 25vw;
} */
